/* ul:first-of-type > li:nth-child(2) {
    font-weight: bold;
 } */
 /* ul li:first-child {
    font-weight: bold;
 } */
 /* p + ul li:last-child {
    font-weight: bold;
 } */
 .sdf {
    width: 300px;
    height: 300px;
    background-color: red;
margin-left: auto;
margin-right: auto;

box-shadow:10px 10px 5px black ;
/* transition-duration:500ms;
transition-property:box-shadow;

transition-timing-function:ease;
transition-delay: 2s;  */
transition: box-shadow 1s ease 2s;
transition: background-color 1s ease 2s;
}
.sdf:hover {
   background-color: rgb(0, 255, 64);
   box-shadow:0px 0px 0px black 
  
}
